body {
    font: normal 62.5%/1.4 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
    color: #444;
    margin: 0;
    padding: 0;
    background: #fff url(../img/bg-gradient-top.png) repeat-x top left;
}

h1 {
    text-align: center;
    font-size: 5.0em;
    margin: 10px 0;
    padding: 0;
    font-weight: normal;
}

/**
 * MENU
 */
#menu ul, #menu li {
    list-type: none;
    margin: 0;
    padding: 0;
}

#menu li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    height: 24px;
    font-size: 1.5em;
    background-color: #fff;
    border-bottom: 1px solid #82a2bb;
}
#menu .last {
    border-radius: 0 0 4px 0;
    border-right: 1px solid #82a2bb;
}

#menu a {
    display: block;
    padding: 2px 8px 0;
    color: #444;
    text-decoration: none;
}
#menu a:hover, #menu .dropdown:hover > a {
    background-color: #ebf4ff;
}

#menu .dropdown {
    position: relative;
    z-index: 1;
}
#menu .dropdown-menu {
    white-space: nowrap;
    display: none;
    position: absolute;
    top: 24px;
    background-color: #fff;
    z-index: 100;
    border: 1px solid #82a2bb;
    border-bottom: none;
}
#menu .dropdown:hover .dropdown-menu {
    display: block;
}
#menu .dropdown-menu a {
    display: block;
    border-bottom: 1px solid #82a2bb;
}

/**
 * PAGE CONTENT
 */
#content {
    padding: 0 10px;
}

/**
 * CHART
 */
.chart {
    position: relative;
    color: #555;
    font-size: 1.4em;
}
.chart-controls-container {
    position: relative;
    width: 800px;
}
.chart-scroll-container {
    position: relative;
    width: 800px;
    overflow-x: auto;
    overflow-y: hidden;

    border-bottom: 3px solid #808080;
}

.chart-info {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}
    .chart-info-help {
        padding: 60px 0 0 0;
        font-size: 3.85em;
        color: #ececec;
        font-weight: bold;
        text-align: center;
        line-height: 48px;
    }

.chart-controls-left {
    position: absolute;
    width: 60px;
    top: 90px;
    left: 0;
    bottom: 0;
    background: url(../img/chart-bg-controls-left.png) repeat-y;
    z-index: 100;
}
.chart-controls-right {
    position: absolute;
    width: 60px;
    top: 0;
    right: 0;
    bottom: 0;
    background: url(../img/chart-bg-controls-right.png) repeat-y;
    z-index: 100;
}

.chart-decade-container {
    position: relative;
    height: 60px;
    font-size: 3.6em;
}
    .chart-decade {
        position: absolute;
    }
    .chart-decade-small {
        font-size: 0.8em;
    }

.chart-year-container {
    position: relative;
    height: 30px;
    font-size: 1.4em;
}
    .chart-year {
        position: absolute;
    }

.chart-event-container {
    position: relative;
    padding: 8px 0;

    background: url(../img/chart-bg-event-container.png) top left;

    overflow: hidden;
}
    .chart-event-padding {
        position: relative;
    }
        .chart-event {
            position: absolute;
            background-color: #baddf5;
            font-size: 1.14em;
            font-weight: bold;
            color: #fff;
            text-align: center;
            cursor: pointer;

            -webkit-transition: box-shadow 0.1s ease-in-out;
               -moz-transition: box-shadow 0.1s ease-in-out;
                -ms-transition: box-shadow 0.1s ease-in-out;
                 -o-transition: box-shadow 0.1s ease-in-out;
                    transition: box-shadow 0.1s ease-in-out;
        }
        .chart-event:hover {
            box-shadow: 0 0 16px rgba(0, 0, 0, 0.45);
        }

.chart-month-container {
    height: 10px;
    background: url(../img/chart-bg-month-container.png);
}

/**
 * Information box
 */
.chart-info-box-container {
    border: 1px solid #888;
    border-radius: 4px;
}
.chart-info-box-container table {
    width: 100%;
    border-spacing: 0;
}
.chart-info-box-container h1 {
    text-align: center;
    font-weight: bold;
    padding: 2px 0;
    font-size: 14px;
    color: #fff;
    margin: 0;
}
.chart-info-box-container h2 {
    text-align: center;
    font-weight: bold;
    padding: 2px 0;
    font-size: 14px;
    color: #fff;
    margin: 0;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.chart-info-box-table-info td {
    padding: 4px;
    border-top: 1px solid #bbb;
}
.chart-info-box-table-info .td-title {
    width: 30%;
    background-color: #eee;
    font-weight: bold;
}
.chart-info-box-table-info .td-value {
    width: 70%;
    background-color: #fff;
    border-top: 1px solid #bbb;
}

.chart-info-box-table-side td {
    width: 50%;
}
.chart-info-box-table-side td:first-child {
    border-right: 1px solid #bbb;
}
.chart-info-box-table-side .td-info {
    vertical-align: top;
    padding: 4px;
}

/**
 * Scroll controls
 */
.chart-controls-scroller {
    position: absolute;
    width: 36px;
    height: 36px;
    background: url(../img/arrows.png) no-repeat top left;
    cursor: pointer;
}
.chart-controls-scroller-normal {
    bottom: 36px;
}
.chart-controls-scroller-fast {
    bottom: 0;
}

.chart-controls-left .chart-controls-scroller-normal {
    background-position: -72px 0;
}
.chart-controls-left .chart-controls-scroller-fast {
    background-position: 0 0;
}
.chart-controls-right .chart-controls-scroller-normal {
    background-position: -72px -36px;
}
.chart-controls-right .chart-controls-scroller-fast {
    background-position: 0 -36px;
}

.chart-controls-left .chart-controls-scroller-normal.chart-controls-scroller-active {
    background-position: -108px 0;
}
.chart-controls-left .chart-controls-scroller-fast.chart-controls-scroller-active {
    background-position: -36px 0;
}
.chart-controls-right .chart-controls-scroller-normal.chart-controls-scroller-active {
    background-position: -108px -36px;
}
.chart-controls-right .chart-controls-scroller-fast.chart-controls-scroller-active {
    background-position: -36px -36px;
}

/**
 * FLAGS
 */
.flag {
    width: 16px;
    height: 11px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    background: url(../img/flags.png) no-repeat top left;
    background-position:-238px -132px;
}
.flag-0000{background-position:-238px -132px;}
.flag-ad{background-position:-221px -132px;}
.flag-ae{background-position:-204px -132px;}
.flag-af{background-position:-187px -132px;}
.flag-ag{background-position:-170px -132px;}
.flag-ai{background-position:-153px -132px;}
.flag-al{background-position:-136px -132px;}
.flag-am{background-position:-119px -132px;}
.flag-an{background-position:-102px -132px;}
.flag-ao{background-position:-85px -132px;}
.flag-ar{background-position:-68px -132px;}
.flag-as{background-position:-51px -132px;}
.flag-at{background-position:-34px -132px;}
.flag-au{background-position:-17px -132px;}
.flag-aw{background-position:0 -132px;}
.flag-ax{background-position:-340px -120px;}
.flag-az{background-position:-323px -120px;}
.flag-ba{background-position:-306px -120px;}
.flag-bb{background-position:-289px -120px;}
.flag-bd{background-position:-272px -120px;}
.flag-be{background-position:-255px -120px;}
.flag-bf{background-position:-238px -120px;}
.flag-bg{background-position:-221px -120px;}
.flag-bh{background-position:-204px -120px;}
.flag-bi{background-position:-187px -120px;}
.flag-bj{background-position:-170px -120px;}
.flag-bm{background-position:-153px -120px;}
.flag-bn{background-position:-136px -120px;}
.flag-bo{background-position:-119px -120px;}
.flag-br{background-position:-102px -120px;}
.flag-bs{background-position:-85px -120px;}
.flag-bt{background-position:-68px -120px;}
.flag-bv{background-position:-51px -120px;}
.flag-bw{background-position:-34px -120px;}
.flag-by{background-position:-17px -120px;}
.flag-bz{background-position:0 -120px;}
.flag-ca{background-position:-340px -108px;}
.flag-catalonia{background-position:-323px -108px;}
.flag-cc{background-position:-306px -108px;}
.flag-cd{background-position:-289px -108px;}
.flag-cf{background-position:-272px -108px;}
.flag-cg{background-position:-255px -108px;}
.flag-ch{width:11px;background-position:-357px 0;}
.flag-ci{background-position:-238px -108px;}
.flag-ck{background-position:-221px -108px;}
.flag-cl{background-position:-204px -108px;}
.flag-cm{background-position:-187px -108px;}
.flag-cn{background-position:-170px -108px;}
.flag-co{background-position:-153px -108px;}
.flag-cr{background-position:-136px -108px;}
.flag-cs{background-position:-119px -108px;}
.flag-cu{background-position:-102px -108px;}
.flag-cv{background-position:-85px -108px;}
.flag-cx{background-position:-68px -108px;}
.flag-cy{background-position:-51px -108px;}
.flag-cz{background-position:-34px -108px;}
.flag-de{background-position:-17px -108px;}
.flag-dj{background-position:0 -108px;}
.flag-dk{background-position:-340px -96px;}
.flag-dm{background-position:-323px -96px;}
.flag-do{background-position:-306px -96px;}
.flag-dz{background-position:-289px -96px;}
.flag-ec{background-position:-272px -96px;}
.flag-ee{background-position:-255px -96px;}
.flag-eg{background-position:-238px -96px;}
.flag-eh{background-position:-221px -96px;}
.flag-england{background-position:-204px -96px;}
.flag-er{background-position:-187px -96px;}
.flag-es{background-position:-170px -96px;}
.flag-et{background-position:-153px -96px;}
.flag-europeanunion{background-position:-136px -96px;}
.flag-fam{background-position:-119px -96px;}
.flag-fi{background-position:-102px -96px;}
.flag-fj{background-position:-85px -96px;}
.flag-fk{background-position:-68px -96px;}
.flag-fm{background-position:-51px -96px;}
.flag-fo{background-position:-34px -96px;}
.flag-fr{background-position:-17px -96px;}
.flag-ga{background-position:0 -96px;}
.flag-gb{background-position:-340px -84px;}
.flag-gd{background-position:-323px -84px;}
.flag-ge{background-position:-306px -84px;}
.flag-gf{background-position:-289px -84px;}
.flag-gh{background-position:-272px -84px;}
.flag-gi{background-position:-255px -84px;}
.flag-gl{background-position:-238px -84px;}
.flag-gm{background-position:-221px -84px;}
.flag-gn{background-position:-204px -84px;}
.flag-gp{background-position:-187px -84px;}
.flag-gq{background-position:-170px -84px;}
.flag-gr{background-position:-153px -84px;}
.flag-gs{background-position:-136px -84px;}
.flag-gt{background-position:-119px -84px;}
.flag-gu{background-position:-102px -84px;}
.flag-gw{background-position:-85px -84px;}
.flag-gy{background-position:-68px -84px;}
.flag-hk{background-position:-51px -84px;}
.flag-hm{background-position:-34px -84px;}
.flag-hn{background-position:-17px -84px;}
.flag-hr{background-position:0 -84px;}
.flag-ht{background-position:-340px -72px;}
.flag-hu{background-position:-323px -72px;}
.flag-id{background-position:-306px -72px;}
.flag-ie{background-position:-289px -72px;}
.flag-il{background-position:-272px -72px;}
.flag-in{background-position:-255px -72px;}
.flag-io{background-position:-238px -72px;}
.flag-iq{background-position:-221px -72px;}
.flag-ir{background-position:-204px -72px;}
.flag-is{background-position:-187px -72px;}
.flag-it{background-position:-170px -72px;}
.flag-jm{background-position:-153px -72px;}
.flag-jo{background-position:-136px -72px;}
.flag-jp{background-position:-119px -72px;}
.flag-ke{background-position:-102px -72px;}
.flag-kg{background-position:-85px -72px;}
.flag-kh{background-position:-68px -72px;}
.flag-ki{background-position:-51px -72px;}
.flag-km{background-position:-34px -72px;}
.flag-kn{background-position:-17px -72px;}
.flag-kp{background-position:0 -72px;}
.flag-kr{background-position:-340px -60px;}
.flag-kw{background-position:-323px -60px;}
.flag-ky{background-position:-306px -60px;}
.flag-kz{background-position:-289px -60px;}
.flag-la{background-position:-272px -60px;}
.flag-lb{background-position:-255px -60px;}
.flag-lc{background-position:-238px -60px;}
.flag-li{background-position:-221px -60px;}
.flag-lk{background-position:-204px -60px;}
.flag-lr{background-position:-187px -60px;}
.flag-ls{background-position:-170px -60px;}
.flag-lt{background-position:-153px -60px;}
.flag-lu{background-position:-136px -60px;}
.flag-lv{background-position:-119px -60px;}
.flag-ly{background-position:-102px -60px;}
.flag-ma{background-position:-85px -60px;}
.flag-mc{background-position:-68px -60px;}
.flag-md{background-position:-51px -60px;}
.flag-me{height:12px;background-position:0 0;}
.flag-mg{background-position:-34px -60px;}
.flag-mh{background-position:-17px -60px;}
.flag-mk{background-position:0 -60px;}
.flag-ml{background-position:-340px -48px;}
.flag-mm{background-position:-323px -48px;}
.flag-mn{background-position:-306px -48px;}
.flag-mo{background-position:-289px -48px;}
.flag-mp{background-position:-272px -48px;}
.flag-mq{background-position:-255px -48px;}
.flag-mr{background-position:-238px -48px;}
.flag-ms{background-position:-221px -48px;}
.flag-mt{background-position:-204px -48px;}
.flag-mu{background-position:-187px -48px;}
.flag-mv{background-position:-170px -48px;}
.flag-mw{background-position:-153px -48px;}
.flag-mx{background-position:-136px -48px;}
.flag-my{background-position:-119px -48px;}
.flag-mz{background-position:-102px -48px;}
.flag-na{background-position:-85px -48px;}
.flag-nc{background-position:-68px -48px;}
.flag-ne{background-position:-51px -48px;}
.flag-nf{background-position:-34px -48px;}
.flag-ng{background-position:-17px -48px;}
.flag-ni{background-position:0 -48px;}
.flag-nl{background-position:-340px -36px;}
.flag-no{background-position:-323px -36px;}
.flag-np{width:9px;background-position:-357px -12px;}
.flag-nr{background-position:-306px -36px;}
.flag-nu{background-position:-289px -36px;}
.flag-nz{background-position:-272px -36px;}
.flag-om{background-position:-255px -36px;}
.flag-pa{background-position:-238px -36px;}
.flag-pe{background-position:-221px -36px;}
.flag-pf{background-position:-204px -36px;}
.flag-pg{background-position:-187px -36px;}
.flag-ph{background-position:-170px -36px;}
.flag-pk{background-position:-153px -36px;}
.flag-pl{background-position:-136px -36px;}
.flag-pm{background-position:-119px -36px;}
.flag-pn{background-position:-102px -36px;}
.flag-pr{background-position:-85px -36px;}
.flag-ps{background-position:-68px -36px;}
.flag-pt{background-position:-51px -36px;}
.flag-pw{background-position:-34px -36px;}
.flag-py{background-position:-17px -36px;}
.flag-qa{background-position:0 -36px;}
.flag-re{background-position:-340px -24px;}
.flag-ro{background-position:-323px -24px;}
.flag-rs{background-position:-306px -24px;}
.flag-ru{background-position:-289px -24px;}
.flag-rw{background-position:-272px -24px;}
.flag-sa{background-position:-255px -24px;}
.flag-sb{background-position:-238px -24px;}
.flag-sc{background-position:-221px -24px;}
.flag-scotland{background-position:-204px -24px;}
.flag-sd{background-position:-187px -24px;}
.flag-se{background-position:-170px -24px;}
.flag-sg{background-position:-153px -24px;}
.flag-sh{background-position:-136px -24px;}
.flag-si{background-position:-119px -24px;}
.flag-sj{background-position:-102px -24px;}
.flag-sk{background-position:-85px -24px;}
.flag-sl{background-position:-68px -24px;}
.flag-sm{background-position:-51px -24px;}
.flag-sn{background-position:-34px -24px;}
.flag-so{background-position:-17px -24px;}
.flag-sr{background-position:0 -24px;}
.flag-st{background-position:-340px -12px;}
.flag-sv{background-position:-323px -12px;}
.flag-sy{background-position:-306px -12px;}
.flag-sz{background-position:-289px -12px;}
.flag-tc{background-position:-272px -12px;}
.flag-td{background-position:-255px -12px;}
.flag-tf{background-position:-238px -12px;}
.flag-tg{background-position:-221px -12px;}
.flag-th{background-position:-204px -12px;}
.flag-tj{background-position:-187px -12px;}
.flag-tk{background-position:-170px -12px;}
.flag-tl{background-position:-153px -12px;}
.flag-tm{background-position:-136px -12px;}
.flag-tn{background-position:-119px -12px;}
.flag-to{background-position:-102px -12px;}
.flag-tr{background-position:-85px -12px;}
.flag-tt{background-position:-68px -12px;}
.flag-tv{background-position:-51px -12px;}
.flag-tw{background-position:-34px -12px;}
.flag-tz{background-position:-17px -12px;}
.flag-ua{background-position:0 -12px;}
.flag-ug{background-position:-340px 0;}
.flag-um{background-position:-323px 0;}
.flag-us{background-position:-306px 0;}
.flag-uy{background-position:-289px 0;}
.flag-uz{background-position:-272px 0;}
.flag-va{background-position:-255px 0;}
.flag-vc{background-position:-238px 0;}
.flag-ve{background-position:-221px 0;}
.flag-vg{background-position:-204px 0;}
.flag-vi{background-position:-187px 0;}
.flag-vn{background-position:-170px 0;}
.flag-vu{background-position:-153px 0;}
.flag-wales{background-position:-136px 0;}
.flag-wf{background-position:-119px 0;}
.flag-ws{background-position:-102px 0;}
.flag-ye{background-position:-85px 0;}
.flag-yt{background-position:-68px 0;}
.flag-za{background-position:-51px 0;}
.flag-zm{background-position:-34px 0;}
.flag-zw{background-position:-17px 0;}