.chart {
    position: relative;
}
.chart-controls-container {
    position: relative;
    width: 800px;
}
.chart-scroll-container {
    position: relative;
    width: 800px;
    overflow-x: auto;
    overflow-y: hidden;
}

.chart-info {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

.chart-controls-left {
    position: absolute;
    width: 60px;
    top: 90px;
    left: 0;
    bottom: 0;
    background: url(../images/chart-bg-controls-left.png) repeat-y;
    z-index: 100;
}
.chart-controls-right {
    position: absolute;
    width: 60px;
    top: 0;
    right: 0;
    bottom: 0;
    background: url(../images/chart-bg-controls-right.png) repeat-y;
    z-index: 100;
}

.chart-decade-container {
    position: relative;
    height: 60px;
    font-size: 50px;
}
    .chart-decade {
        position: absolute;
    }

.chart-year-container {
    position: relative;
    height: 30px;
    font-size: 20px;
}
    .chart-year {
        position: absolute;
    }

.chart-event-container {
    position: relative;
    padding: 8px 0;

    background: url(../images/chart-bg-event-container.png) top left;

    overflow: hidden;
}
    .chart-event-padding {
        position: relative;
    }
        .chart-event {
            position: absolute;
            background-color: #baddf5;
        }

.chart-month-container {
    height: 10px;
    background: url(../images/chart-bg-month-container.png);
}