body {
    font: normal 62.5%/1.4 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
    color: #444;
    margin: 0;
    padding: 0;
    background: #fff url(../img/bg-gradient-top.png) repeat-x top left;
}

h1 {
    text-align: center;
    font-size: 5.0em;
    margin: 10px 0;
    padding: 0;
    font-weight: normal;
}

/**
 * MENU
 */
#menu ul, #menu li {
    list-type: none;
    margin: 0;
    padding: 0;
}

#menu li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    height: 24px;
    font-size: 1.5em;
    background-color: #fff;
    border-bottom: 1px solid #82a2bb;
}
#menu .last {
    border-radius: 0 0 4px 0;
    border-right: 1px solid #82a2bb;
}

#menu a {
    display: block;
    padding: 2px 8px 0;
    color: #444;
    text-decoration: none;
}
#menu a:hover, #menu .dropdown:hover > a {
    background-color: #ebf4ff;
}

#menu .dropdown {
    position: relative;
    z-index: 1;
}
#menu .dropdown-menu {
    white-space: nowrap;
    display: none;
    position: absolute;
    top: 24px;
    background-color: #fff;
    z-index: 100;
    border: 1px solid #82a2bb;
    border-bottom: none;
}
#menu .dropdown:hover .dropdown-menu {
    display: block;
}
#menu .dropdown-menu a {
    display: block;
    border-bottom: 1px solid #82a2bb;
}

/**
 * PAGE CONTENT
 */
#content {
    padding: 0 10px 10px 10px;
}

/**
 * CHART
 */
.chart {
    position: relative;
    color: #555;
    font-size: 1.4em;
}
.chart-controls-container {
    position: relative;
    width: 800px;
}
.chart-scroll-container {
    position: relative;
    width: 800px;
    overflow-x: auto;
    overflow-y: hidden;

    border-bottom: 3px solid #808080;
}
    .chart-content {
        overflow: hidden;
    }

.chart-info {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 0 10px 0;
}
    .chart-info-help {
        padding: 60px 0 0 0;
        font-size: 3.85em;
        color: #ececec;
        font-weight: bold;
        text-align: center;
        line-height: 48px;
    }

.chart-controls-left {
    position: absolute;
    width: 60px;
    top: 90px;
    left: 0;
    bottom: 0;
    background: url(../img/chart-bg-controls-left.png) repeat-y;
    z-index: 100;
}
.chart-controls-right {
    position: absolute;
    width: 60px;
    top: 0;
    right: 0;
    bottom: 0;
    background: url(../img/chart-bg-controls-right.png) repeat-y;
    z-index: 100;
}

.chart-decade-container {
    position: relative;
    height: 60px;
    font-size: 3.6em;
}
    .chart-decade {
        position: absolute;
    }
    .chart-decade-small {
        font-size: 0.8em;
    }

.chart-year-container {
    position: relative;
    height: 30px;
    font-size: 1.4em;
}
    .chart-year {
        position: absolute;
    }

.chart-event-container {
    position: relative;
    padding: 8px 0;

    background: url(../img/chart-bg-event-container.png) top left;

    overflow: hidden;
}
    .chart-event-padding {
        position: relative;
    }
        .chart-event {
            position: absolute;
            background-color: #baddf5;
            font-size: 1.14em;
            font-weight: bold;
            color: #fff;
            text-align: center;
            cursor: pointer;

            -webkit-transition: box-shadow 0.1s ease-in-out;
               -moz-transition: box-shadow 0.1s ease-in-out;
                -ms-transition: box-shadow 0.1s ease-in-out;
                 -o-transition: box-shadow 0.1s ease-in-out;
                    transition: box-shadow 0.1s ease-in-out;
        }
        .chart-event:hover {
            box-shadow: 0 0 16px rgba(0, 0, 0, 0.45);
        }

.chart-month-container {
    height: 10px;
    background: url(../img/chart-bg-month-container.png);
}

/**
 * Information box
 */
.chart-info-box-container {
    border: 1px solid #888;
    border-radius: 4px;
}
.chart-info-box-container table {
    width: 100%;
    border-spacing: 0;
}
.chart-info-box-container h1 {
    text-align: center;
    font-weight: bold;
    padding: 2px 0;
    font-size: 14px;
    color: #fff;
    margin: 0;
}
.chart-info-box-container h2 {
    text-align: center;
    font-weight: bold;
    padding: 2px 0;
    font-size: 14px;
    color: #fff;
    margin: 0;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.chart-info-box-table-info td {
    padding: 4px;
    border-top: 1px solid #bbb;
}
.chart-info-box-table-info .td-title {
    width: 30%;
    background-color: #eee;
    font-weight: bold;
}
.chart-info-box-table-info .td-value {
    width: 70%;
    background-color: #fff;
    border-top: 1px solid #bbb;
}

.chart-info-box-table-side td {
    width: 50%;
}
.chart-info-box-table-side td:first-child {
    border-right: 1px solid #bbb;
}
.chart-info-box-table-side .td-info {
    vertical-align: top;
    padding: 4px;
}

/**
 * Scroll controls
 */
.chart-controls-scroller {
    position: absolute;
    width: 36px;
    height: 36px;
    background: url(../img/arrows.png) no-repeat top left;
    cursor: pointer;
}
.chart-controls-scroller-normal {
    bottom: 36px;
}
.chart-controls-scroller-fast {
    bottom: 0;
}

.chart-controls-left .chart-controls-scroller-normal {
    background-position: -72px 0;
}
.chart-controls-left .chart-controls-scroller-fast {
    background-position: 0 0;
}
.chart-controls-right .chart-controls-scroller-normal {
    background-position: -72px -36px;
}
.chart-controls-right .chart-controls-scroller-fast {
    background-position: 0 -36px;
}

.chart-controls-left .chart-controls-scroller-normal.chart-controls-scroller-active {
    background-position: -108px 0;
}
.chart-controls-left .chart-controls-scroller-fast.chart-controls-scroller-active {
    background-position: -36px 0;
}
.chart-controls-right .chart-controls-scroller-normal.chart-controls-scroller-active {
    background-position: -108px -36px;
}
.chart-controls-right .chart-controls-scroller-fast.chart-controls-scroller-active {
    background-position: -36px -36px;
}